body{
    background-color: #48e;
    margin: 0 0;
}

a:link ,a:visited{
    color: inherit;
    text-decoration: none;
}

header{
    z-index: 1000;
    position: fixed;
    top:0;
    left: 5%;
    right: 5%;
    background: #2007;
    border: 5px solid #03b;
    border-top: 5px solid #0007;
    border-radius: 0 0 50px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* es para retrocompatibilidad con safari y otros navegadores*/
}

img{
    height: 80px ;
    width: 80px ;
}

p,li{
    color: #ffffff ;
    text-align: left;
}

h1,h2{
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 0.5px;
}

h1{
    color: #ee3102;
    font-size: 25px;
}

h2{
    color: #ee3102;
    font-size: 20px;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.5;
}

.container{
    display: grid;
    grid-template-rows: 1fr auto ;
    min-height: 100vh;
}

.content{
    border: 5px solid #03b;
    border-radius: 50px;
    /* background: #200000; */
    background:linear-gradient(#fff2 10%,#529f 70%,#2009);
    min-width: 500px;
    max-width: 90%;
    margin: 100px auto;
    display: grid;
    justify-content:center;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr)) ;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* align-items: start; */
    box-sizing: border-box;
}

.cubos{
    background-color: #0007;
    height: 350px;
    margin: 100px 20px;
    text-align: center;
    border: 5px solid #03b;
    /*Con el de arriba nos ahorramos escribir esto:
    border-width: 5px;
    border-color: lightskyblue;
    border-style: solid;*/
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 0 15px 0 #000;
    /* display: inline-block;
    box-sizing: border-box; */
    overflow: hidden;
    cursor: pointer;
    transition: background-color 2s linear;
}

.cubos h1, .cubos h2{
    color: rgba(44, 236, 140, 0.911);
    text-decoration: underline;
    text-decoration-color: #000000;
}

nav:hover{
    background-color: #0007;
    box-shadow: 0 0 15px 0 #fff4;
    cursor: pointer;
}

span{
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 2px; 
}

nav{
    padding: 10px 0;
}

nav a:link, nav a:visited{
    color: rgba(44, 236, 140, 0.911);
    text-decoration: none;
}

footer{
    line-height: 0; /*Elimina el espacio vertical no deseado*/
    background-color: inherit;
    display: grid;
    justify-content: center;
    margin: 0 5%;
    padding: 0;
    border: 5px solid #03b;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr)) ;
    gap: 20px;
    background:linear-gradient(#fff2 10%,#529f 70%,#2009);
    overflow: hidden;
}

.contactarse, .conectarse, .encontrarnos{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-content:start;
}

.contactarse h2, .conectarse h2, .encontrarnos h2{
    color: rgb(44, 236, 140, 0.911);
    text-decoration: underline;
    text-decoration-color: #000;
}


/*Aca empieza el estilo de contact.html*/

form{
    box-sizing: border-box;
    padding: 30px;
    margin: 100px auto;
    max-width: 600px;
    border: 5px solid #03b;
    border-radius: 50px;
    background-color: #0007;
    box-shadow: 0 0 15px 0 #0007;
}

form h1{
    color: rgba(44, 236, 140, 0.911);
    text-align: center;
}

input{
    width: 100%;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 7px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.buttons{
    box-sizing: border-box;
    text-align: center;
}

.send_button{
    background-color: #fff9;
    border-radius: 7px;
    border: 5px solid #03b;
    padding: 10px;
    text-transform: uppercase;
    font: normal normal bold 15px/2px "Montserrat";
}


textarea{
    width: 100%;
    resize: vertical;
    font-family: sans-serif;
    min-height: 100px;
    max-height: 200px;
    border-radius: 7px;
    margin-bottom: 7px;
}

label{
    font-family: sans-serif;
    color: rgba(44, 236, 140, 0.911);
    font-size: 1em;
    line-height: 2;
}

.select_ciudad{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.form_fieldset{
    border: 2px solid #03b;
    border-radius: 7px;
    padding: 20px;
}

legend{
    color: rgba(44, 236, 140, 0.911);
    padding: 5px;
}